/* @font-face {
    font-family: "Comfortaa", "Arial";
    src: url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap");
} */

body {
    width: 100%;
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
    font-family: "Comfortaa", "Arial";
}

/*.header {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}*/

.header__containernav{
    background-color: rgb(191, 170, 230);
    width: 100%;
    border: solid;
    padding: 10px;
    border-width: 0px 0px 10px 0px;
    border-color: rgb(157, 118, 230);

}

.introimage {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 100px;
}

.container__container {
    box-shadow: 1px 5px 5px;
    margin: 5px;
    padding: 10px;
    width: 300px;
    max-width: 400px;
    flex-grow: 1;
    height: auto;
    border-radius: 5%;
}

.img__img {
    max-width: 100px;
    border-radius: 30%;
    border:rgba(79, 17, 252, 0.3)
}

.introimage__h1 {
    margin: 0 20px;
}

h2 {
    color: rgb(49, 49, 49);
    font-style: italic;
}

.nav_list {
    list-style: none;
    margin: 10px 0;
    padding: 4px;
    text-align: center;
}

.nav_link {
    font-size: 0.8em;
    margin: 5px;
    padding: 3px;
    display: inline;
    border-radius: 10%;
}

.nav_nav {
    text-align: center;
    background-color: rgba(79, 17, 252, 0.3);
    margin 0;
}